<header role="banner">
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@routes.HomeController.home()"><img src="@routes.Assets.versioned("img/bm2.png")" alt="Lab" height="30"></a>
            </div>
            <ul id="navul" class="nav navbar-nav">
                <li id="home" class="active"><a href="@routes.HomeController.home()">Home</a></li>
                <li id="arch"><a href="#arch">Archive</a></li>
                <li id="upf"><a href="#upf">Upload</a></li>
                @*<li id="eva"><a href="#eva">Evaluation</a></li>*@
                <li id="about"><a href="#about">About</a></li>
            </ul>
        </div>
    </nav>
</header>